#Environment
NEXT_PUBLIC_ENV = DEV
NEXT_PUBLIC_URL = http://localhost:3000/
NEXT_PUBLIC_TIMEZONE = America/Mexico_City

#Supabase
NEXT_PUBLIC_SUPABASE_URL =
NEXT_PUBLIC_SUPABASE_ANON_KEY =
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY =
NEXT_PRIVATE_SUPABASE_SERVICE_ROLE_KEY =

#MySQL
NEXT_PUBLIC_HOSTNAME =
NEXT_PUBLIC_DATABASE =
NEXT_PUBLIC_USERNAME =
NEXT_PUBLIC_PASSWORD =
NEXT_PUBLIC_PORT =
